# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.db
*.sqlite3

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
